<h1>Sign up</h1>

<form action="<%= users_url %>" method="post">
  <label for="email">email: </label>
  <input type="text" name="user[email]">

  <br>

  <label for="password">password: </label>
  <input type="text" name="user[password]">

  <br>
  
  <input type="submit" value="Submit">
</form>
