<h1>edit sub</h1>

<form action="/subs/<%= @sub.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="title">Title: </label>
  <input type="text" name="sub[title]" value="<%= @sub.title %>">

  <br>

  <label for="desc">Description: </label>
  <input type="text" name="sub[description]" value="<%= @sub.description %>">

  <br>

  <input type="hidden" name="sub[user_id]" value="<%= current_user.id %>">

  <input type="submit">
</form>
