<h1>Login</h1>

<form action="/sessions" method="post">
  <%= csrf_token %>
  <label for="user_name">Username: </label>
  <input type="text" name="user[user_name]" id="user_name">

  <br>

  <label for="password">Password: </label>
  <input type="text" name="user[password]" id="password">

  <input type="submit" value="Login">
</form>


<% content_for :footer do %>
  <p>This is the cats login page.</p>
<% end %>
